body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: rgb(240, 240, 240);
}

main {
    flex: 1 0 auto;
    padding: 20px;
}

#root {
    display: contents;
    width: 80%;
}

select {
    display: block;
}

.modal-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    color: red;
    border: 2px solid #000;
    padding: 1%;
    background-color: aliceblue;
}

.modal-form .close-btn {
    position: absolute;
    left: 85%;
    top: 7%;
}

.acc-balance {
    font-size: 1.2em;
    font-weight: bold;
}

.wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 80vh;
}

.large-text {
    font-size: 4em;
}

.logo {
    color: #fff;
    display: inline-flex;
    align-items: center;
    height: 100%;
    padding: 0px 30px;
}

.logo img {
    height: 38px;
}

nav ul a {
    font-size: 1.2em;
    font-family: Arial;
}

.first {
    float: left;
}

.second {
    float: right;
}
